@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,700;1,400&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--font-primaria);
}

:root{
    --cor-primaria-ciano-forte: hsl(172, 67%, 45%);
    --cor-ciano-escuro: hsl(183, 100%, 15%);
    --cor-cinza-acinzentado: hsl(186, 14%, 43%);
    --cor-ciano-acinzentado: hsl(184, 14%, 56%);
    --cor-ciano-acinzentado-claro: hsl(185, 41%, 84%);
    --cor-ciano-acinzentado-muito-claro: hsl(189, 41%, 97%);
    --cor-branco: hsl(0, 0%, 100%);

    --font-primaria: 'Space Mono';
}

.body{
    background-color: var(--cor-primaria-ciano-forte);
}

.cabecalho{
    display: flex;
    justify-content: center;
    margin: 15vh 0 5vh 0;
}

.main{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.container{
    width: 55vw;
    height: 45vh;
    background-color: var(--cor-branco);
    border-radius: 20px; 
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.container__calculo{
    width: 50%;
    height: 85%;
    background-color: var(--cor-ciano-acinzentado-muito-claro);
    border-radius: 10px;
}

.container__calculo__pagamento{
    display: flex;
    flex-direction: column;
    font-weight: 400;
    font-size: 1.5rem;
    color: var(--cor-cinza-acinzentado);
}

.container__calculo__pagamento__input{
    background-color: var(--cor-ciano-acinzentado-claro);
    border: none;
    border-radius: 5px;
    height: 4vh;
    text-align: center;
}

.container__calculo__comissao{
    margin-top: 4vh;
}

.container__calculo__comissao__label{
    display: block;
    margin: 2vh 0;
    font-size: 1.2rem;
    color: var(--cor-cinza-acinzentado);
}

.container__calculo__comissao__botao{
    width: 32%;
    height: 3vh;
    margin-bottom: 2vh;
    padding: 2px 0 30px 0;
    border: none;
    border-radius: 5px;
    background-color: var(--cor-ciano-escuro);
    color: var(--cor-branco);
    font-size: 16px;
}

.container__calculo__pessoas{
    display: flex;
    flex-direction: column;
    font-weight: 400;
    font-size: 1.2rem;
    color: var(--cor-cinza-acinzentado);
    margin-top: 3vh;
}

.container__resultado{
    width: 40%;
    height: 85%;
    background-color: var(--cor-ciano-escuro); 
    border-radius: 20px;
}

.container__resultado__total{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 5vh 0;
}

.container__resultado__total_label{
    font-size: 1.3rem;
    color: var(--cor-branco);
}

.container__resultado__input{
    background-color: transparent;
    color: var(--cor-primaria-ciano-forte);
    height: 4vh;
    border: none;
}

.container__resultado__pessoa{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 2vw;
}

.container__resultado__botao{
    display: flex;
    justify-content: center;
    margin: 10vh 0 0 2.5vw;
    padding: 12px;
    width: 80%;
    border-radius: 5px;
    text-decoration: none;
    background-color: var(--cor-primaria-ciano-forte);
    color: var(--cor-branco);
    font-size: 20px;
}
