@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,700;1,400&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--font-primaria);
}

:root{
    --cor-primaria-ciano-forte: hsl(172, 67%, 45%);
    --cor-ciano-escuro: hsl(183, 100%, 15%);
    --cor-cinza-acinzentado: hsl(186, 14%, 43%);
    --cor-ciano-acinzentado: hsl(184, 14%, 56%);
    --cor-ciano-acinzentado-claro: hsl(185, 41%, 84%);
    --cor-ciano-acinzentado-muito-claro: hsl(189, 41%, 97%);
    --cor-branco: hsl(0, 0%, 100%);

    --font-primaria: 'Space Mono';
}

.body{
    background-color: var(--cor-primaria-ciano-forte);
}

.cabecalho{
    display: flex;
    justify-content: center;
    margin: 15vh 0 5vh 0;
}

.main{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.container{
    width: 55vw;
    height: 45vh;
    background-color: var(--cor-branco);
    border-radius: 20px; 
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.container__calculo{
    width: 50%;
    height: 90%;
    background-color: var(--cor-ciano-acinzentado-muito-claro);
    border-radius: 10px;
}

.container__calculo__pagamento{
    display: flex;
    flex-direction: column;
    font-weight: 400;
    font-size: 1rem;
    color: var(--cor-cinza-acinzentado);
}

.container__calculo__pagamento__input{
    background-color: var(--cor-ciano-acinzentado-claro);
    border: none;
    border-radius: 5px;
    height: 4vh;
    text-align: right;
}

.container__calculo__comissao{
    margin-top: 2vh;
}

.container__calculo__comissao__label{
    display: block;
    margin: 2vh 0;
    font-size: 1rem;
    color: var(--cor-cinza-acinzentado);
}

.container__calculo__comissao__botao{
    width: 25%;
    height: 3vh;
    margin:0 0 2vh 1.4vw;
    padding: 2px 0 30px 0;
    border: none;
    border-radius: 5px;
    background-color: var(--cor-ciano-escuro);
    color: var(--cor-branco);
    font-size: 16px;
    cursor: pointer;
}

.container__calculo__pessoas{
    display: flex;
    flex-direction: column;
    font-weight: 400;
    font-size: 1rem;
    color: var(--cor-cinza-acinzentado);
    margin-top: 1vh;
}

.container__resultado{
    width: 40%;
    height: 90%;
    background-color: var(--cor-ciano-escuro); 
    border-radius: 20px;
}

.container__resultado__total{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 5vh 0;
}

.container__resultado__total_label{
    font-size: 1rem;
    color: var(--cor-branco);
}

.container__resultado__input{
    background-color: transparent;
    color: var(--cor-primaria-ciano-forte);
    width: 6vw;
    height: 5vh;
    border: none;
    font-size: 1.1rem;
}

.container__resultado__pessoa{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 3vw;
}

.container__resultado__botao{
    display: flex;
    justify-content: center;
    margin: 10vh 0 0 2.5vw;
    padding: 12px;
    width: 80%;
    border-radius: 5px;
    text-decoration: none;
    background-color: var(--cor-primaria-ciano-forte);
    color: var(--cor-branco);
    font-size: 20px;
}

/*Aqui começa o responsivo*/

@media (max-width: 900px){
    .container{
        width: 90vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .container__calculo{
        width: 90%;
        height: 60%;
        background-color: var(--cor-ciano-acinzentado-muito-claro);
        border-radius: 10px;
        margin-top: 1.5vh;
    }

    .container__calculo__pagamento{
        margin: 0.6rem 0 2rem 0;
    }

    .container__calculo__pagamento__input{
        margin-top: 0.5rem;
    }

    .container__calculo__comissao__botao{
        margin:0 0 2vh 4vw;
    }

    .container__calculo__pessoas{
        margin-top: 5vh;
    }

    .container__resultado{
        width: 90%;
        height: 40%;
        background-color: var(--cor-ciano-escuro); 
        border-radius: 10px;
        margin-bottom: 1.5vh;
    }

    .container__resultado__input{
        width: 30vw;
        height: 5vh;
        font-size: 1.1rem;

    }

    .container__resultado__pessoa{
        gap: 10vw;
    }

    .container__resultado__botao{
        margin: 8vh 0 0 8.5vw;
        padding: 8px;
        font-size: 1rem;
    }
}